@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.quote-section {
 

  background-color: #ffd7d0;
  
  color: #1d3557;
  height: 128px; /* Or any other value */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-family: 'Your font family', serif;
  font-size: 1.125rem; /* 18px */
  /* Adjust font-size for larger devices */
  @media (min-width: 768px) {
    font-size: 1.25rem; /* 20px */
  }
}


